
TestApp/.vs/TestApp/FileContentIndex/2df44e45-098b-42de-9a71-1d31907ef62f.vsidx
TestApp/.vs/TestApp/v17/.suo
TestApp/.vs/TestApp/v17/TestStore/0/000.testlog
TestApp/.vs/TestApp/v17/TestStore/0/testlog.manifest
TestApp/TestApp/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
TestApp/TestApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestApp/TestApp/obj/Debug/TestApp.csproj.AssemblyReference.cache
