
TestApp/.vs/TestApp/FileContentIndex/2df44e45-098b-42de-9a71-1d31907ef62f.vsidx
TestApp/.vs/TestApp/v17/.suo
TestApp/.vs/TestApp/v17/TestStore/0/000.testlog
TestApp/.vs/TestApp/v17/TestStore/0/testlog.manifest
TestApp/TestApp/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
TestApp/TestApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestApp/TestApp/obj/Debug/TestApp.csproj.AssemblyReference.cache
.vs/TestApp/FileContentIndex/83aae643-c523-4a0d-a331-40a1d4cfd0f4.vsidx
.vs/TestApp/FileContentIndex/2df44e45-098b-42de-9a71-1d31907ef62f.vsidx
.vs/TestApp/FileContentIndex/9ecf1329-bced-40c5-b4d1-320a969a2e21.vsidx
TestApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/TestApp/FileContentIndex/2df44e45-098b-42de-9a71-1d31907ef62f.vsidx
TestApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TestApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/TestApp/FileContentIndex/2df44e45-098b-42de-9a71-1d31907ef62f.vsidx
.vs/TestApp/FileContentIndex/2df44e45-098b-42de-9a71-1d31907ef62f.vsidx
TestApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/TestApp/FileContentIndex/723b1c9b-fb47-4243-824d-7220078bb7a1.vsidx
